In [25]:
from numpy.random import seed
seed(1)

In [26]:
# Dependencies
import pandas as pd
import numpy as np

In [27]:
#from sklearn.linear_model import LinearRegression
#model = LinearRegression()
#model.fit(X, y)

In [28]:
# Store filepath in a variable
BD_100 = "Bordeaux100.csv"

In [29]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
BD_100_df = pd.read_csv(BD_100, encoding="ISO-8859-1")
BD_100_df

,ï»¿Region,Wine,LWIN11,Vintage,LWIN7,Index,Sub-Index,Latitude,Longitude,Mar-Sept avg rainfall,Critic Score,7/2021 Price,7/2020 Price,Percentage Change
0,Bordeaux (Red),Angelus,10060452017,2017,1006045,Bordeaux 500,Right Bank 100,44.892882,-0.1704865,470,95.0,2761,2888.04,-0.043988
1,Burgundy (Red),Angelus,10060452016,2016,1006045,Bordeaux 500,Right Bank 100,44.892882,-0.1704865,418,95.0,3060,2799.96,0.092873
2,Bordeaux (Red),Angelus,10060452015,2015,1006045,Bordeaux 500,Right Bank 100,44.892882,-0.1704865,353,96.0,2808,2499.96,0.123218
3,Bordeaux (Red),Angelus,10060452014,2014,1006045,Bordeaux 500,Right Bank 100,44.892882,-0.1704865,473,93.0,2350,2280,0.030702
4,Bordeaux (Red),Angelus,10060452013,2013,1006045,Bordeaux 500,Right Bank 100,44.892882,-0.1704865,526,90.0,2300,2270,0.013216
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Bordeaux (Red),Lafleur,10119022014,2014,1011902,Bordeaux 500,Right Bank 50,44.953112,-0.164187,473,95.0,5428,4740,0.145148
96,Bordeaux (Red),Margaux,10127812017,2017,1012781,Bordeaux 500,Fine Wine 50,45.044418,-0.668706,470,97.0,3752,3459.96,0.084406
97,Bordeaux (Red),Margaux,10127812016,2016,1012781,Bordeaux 500,Fine Wine 50,45.044418,-0.668706,418,96.0,5828,4839.96,0.204142
98,Bordeaux (Red),Margaux,10127812015,2015,1012781,Bordeaux 500,Fine Wine 50,45.044418,-0.668706,353,97.0,10717,9900,0.082525
99,Bordeaux (Red),Margaux,10127812014,2014,1012781,Bordeaux 500,Fine Wine 50,45.044418,-0.668706,473,95.0,3654,3650.04,0.001085

In [30]:
#drop unecessary data
data = BD_100_df.drop(["ï»¿Region","LWIN11","LWIN7","Index","Sub-Index","7/2021 Price","7/2020 Price"], axis=1)
data

,Wine,Vintage,Latitude,Longitude,Mar-Sept avg rainfall,Critic Score,Percentage Change
0,Angelus,2017,44.892882,-0.1704865,470,95.0,-0.043988
1,Angelus,2016,44.892882,-0.1704865,418,95.0,0.092873
2,Angelus,2015,44.892882,-0.1704865,353,96.0,0.123218
3,Angelus,2014,44.892882,-0.1704865,473,93.0,0.030702
4,Angelus,2013,44.892882,-0.1704865,526,90.0,0.013216
...,...,...,...,...,...,...,...
95,Lafleur,2014,44.953112,-0.164187,473,95.0,0.145148
96,Margaux,2017,45.044418,-0.668706,470,97.0,0.084406
97,Margaux,2016,45.044418,-0.668706,418,96.0,0.204142
98,Margaux,2015,45.044418,-0.668706,353,97.0,0.082525
99,Margaux,2014,45.044418,-0.668706,473,95.0,0.001085

In [32]:
data = pd.get_dummies(data, columns=['Wine'])
data

,Vintage,Latitude,Longitude,Mar-Sept avg rainfall,Critic Score,Percentage Change,Wine_Angelus,Wine_Ausone,Wine_Beychevelle,Wine_Calon Segur,...,Wine_Eglise Clinet,Wine_Evangile,Wine_Fleur Petrus,Wine_Forts Latour,Wine_Grand Puy Lacoste,Wine_Haut Bailly,Wine_Haut Brion,Wine_Lafite Rothschild,Wine_Lafleur,Wine_Margaux
0,2017,44.892882,-0.1704865,470,95.0,-0.043988,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2016,44.892882,-0.1704865,418,95.0,0.092873,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2015,44.892882,-0.1704865,353,96.0,0.123218,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2014,44.892882,-0.1704865,473,93.0,0.030702,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2013,44.892882,-0.1704865,526,90.0,0.013216,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2014,44.953112,-0.164187,473,95.0,0.145148,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
96,2017,45.044418,-0.668706,470,97.0,0.084406,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
97,2016,45.044418,-0.668706,418,96.0,0.204142,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
98,2015,45.044418,-0.668706,353,97.0,0.082525,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
99,2014,45.044418,-0.668706,473,95.0,0.001085,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [33]:
#X = data.drop("Percentage Change", axis=1)
#y = data["Percentage Change"]
#print(X.shape, y.shape)

In [34]:
#X = data.drop("Percentage Change", axis=1)
#y = data["Percentage Change"]
#print(X.shape, y.shape)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [2]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1)

NameError: name 'train_test_split' is not defined

In [3]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

NameError: name 'MinMaxScaler' is not defined

In [4]:
# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

NameError: name 'LabelEncoder' is not defined

In [5]:
# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

NameError: name 'to_categorical' is not defined